:root{
    /* Colors */

    /* Primary Colors */
    --nutmeg: hsl(14, 45%, 36%);
    --darkRaspberry: hsl(332, 51%, 32%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);

    /* Typography */
    
    --body-font-size: 16px;

    --body-font: 'Outfit';
    --header-font: 'Young Serif';

    /* Borders */
    --border-radius: 0.5rem;

    --header-padding: 1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--body-font);
    color: var(--wengeBrown);
    background-color: hsl(329, 100%, 94%);
    line-height: 170%;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-font);
    font-weight: normal;
    line-height: normal;
    padding-top: var(--header-padding);    
    padding-bottom: var(--header-padding);
    color: var(--darkCharcoal);
}

h1{
    font-size: xx-large;
}

ol, ul{
    margin-left: 1.6rem;
}

ol li, ul li{
    margin-top: 0.6rem;
}

ul li::marker{
    font-size: 1rem;
}

table{
    width: 100%;
}

table, td{
    border-collapse: collapse;
    border-bottom: 1px solid var(--lightGrey);
}

td{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

@media only screen and (min-width: 375px) {
    body{
        padding: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    body{
        padding: 8rem;
    }
}

@media only screen and (min-width: 992px) {
    body{
        padding-left: 16rem;
        padding-right: 16rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}