@media only screen and (min-width: 600px) {
    /* || UTILITIES */
    
    .fluid-container{
        max-width: 100%;
        height: auto;
        padding-left: var(--sm-container-padding);
        padding-right: var(--sm-container-padding);
    }
    
    .container{
        padding-left: var(--sm-container-padding);
        padding-right: var(--sm-container-padding);
    }

    /* || PAGE SPECIFIC */

    .header-img{
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
        margin-top: 2rem;
    }
}