@media only screen and (min-width: 1200px) {
    /* || UTILITIES */
    
    .fluid-container{
        max-width: 100%;
        height: auto;
        padding-left: var(--x-lg-container-padding);
        padding-right: var(--x-lg-container-padding);
    }
    
    .container{
        padding-left: var(--x-lg-container-padding);
        padding-right: var(--x-lg-container-padding);
    }

    /* || PAGE SPECIFIC */

    .header-img{
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }
}