/* || GENERAL STYLES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--body-font);
    color: var(--body-color);
    line-height: var(--body-line-height);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-font);
    font-weight: normal;
    line-height: normal;
    padding-top: var(--vertical-space-btwn);
    padding-bottom: var(--vertical-space-btwn);
}

h1{
    font-size: xx-large;
}

ol, ul{
    margin-left: 1.6rem;
}

ul li::marker{
    font-size: 1rem;
}

table{
    width: 100%;
}

table, td{
    border-collapse: collapse;
    border-bottom: 1px solid lightgray;
}

td{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* || UTILITIES */

.fluid-container{
    max-width: 100%;
    height: auto;
}

.container{
    padding-left: var(--x-sm-container-padding);
    padding-right: var(--x-sm-container-padding);
}

.text-brown{
    color: var(--brown);
}

.purple{
    color: var(--purple);
}

.bg-light-purple{
    background-color: var(--light-purple);
}

/* || PAGE SPECIFIC */

.header-img{
    width: 100%;
    height: auto;
    border-radius: 0;
}

.preparation{
    background-color: var(--light-purple);
    border-radius: var(--border-radius);
    padding-left: var(--vertical-space-btwn);
    padding-right: var(--vertical-space-btwn);
    padding-bottom: var(--vertical-space-btwn);
    margin-top: var(--vertical-space-btwn);
}

.preparation h3{
    font-family: var(--body-font);
    font-weight: bold;
}

.ingredients, .instructions{
    border-bottom: 1px solid lightgray;
    padding-bottom: var(--vertical-space-btwn);
}